<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/error.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body style="margin: 0; background-color: #D2001A">
    <div class="bg" >
        <h1 style="text-align:center ; font-size: 8rem">Error<i class="material-icons" style="font-size:5rem;color:#D2001A">warning</i></h1>
        <h2 style="text-align:center ; font-size: 2rem; color: #D2001A">╭∩╮（︶_︶）╭∩╮</h2>
        <hr>
        <h2 style="text-align:center ; font-size: 3rem; color: black; font-family: arial">Anas🤪</h2>

    </div>


</body>
</html>
